body {
	text-align: center;
}

.Entrada  {
	text-align: left;
	width: 25%;
	margin-left: 37%;
	margin-right:  38%;
}

.Saida {
	text-align: left;
	width: 40%;
	margin-left: 30%;
	margin-right:  30%;
}
